fpdf
knowledge_graph
langchain
langchain-community
pandas
protobuf
Requests
#torch
tqdm
#transformers
streamlit
requests
neo4j
pyvis
plotly
langchain-openai
tenacity
python-dotenv
#sentence-transformers
pinecone-client==5.0.1
